---
// MainTitle.astro
interface MainTitleProps {
    title: string;
    color: string;
}
const { title, color } = Astro.props;
---

<section>
    <div class="container-title">
        <div class="title-line"></div>
        <div class="main-title">
            <h2 style="color: {color};">{title}</h2>
        </div>
    </div>
</section>

<style>
    .container-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #080000;
        padding: 1rem;
    }

    .title-line {
        width: 100%;
        height: 4px;
        background-color: #f99e2e;
        margin-bottom: 1rem;
    }

    .main-title {
        font-family: "Corbel", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    h2 {
        font-size: 2rem; /* Tamaño de fuente para pantallas grandes */
        margin: 0;
    }

    /* Responsividad para pantallas medianas */
    @media (max-width: 768px) {
        h2 {
            font-size: 1.5rem; /* Tamaño de fuente para tabletas */
        }
    }

    /* Responsividad para pantallas pequeñas */
    @media (max-width: 480px) {
        h2 {
            font-size: 1.2rem; /* Tamaño de fuente para móviles */
        }
    }
</style>
